.btn-underlined {
	background-color: transparent;
	width: 119px;
	height: 24px;
	left: 161px;
	top: 193px;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: -0.015em;
	color: #ffffff;
	text-decoration: none;
	transition: all 300ms ease-in-out;
	padding: 15px;
	margin-bottom: 15px;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}
