.btn-standart{
    background-color:  #4BA0EC; 
    border-style: none;
    border-radius: 100px;
    color: white;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.01em; 
    width: 150px;
    height: 30px;
    margin: 15px;
    cursor: pointer;
}

#btn-follow{
    background-color:transparent; 
    border: 1px solid #4BA0EC;
    border-radius: 100px;
    color: #4BA0EC;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.01em; 
    width: 100px;
    height: 25px;
    margin: 15px;
    cursor: pointer;
}